<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="example.com"/>
		<add key="Port" value="1883"/>
		<add key="Username" value="user"/>
		<add key="Password" value="password"/>
		<add key="UseTls" value="true"/>
		<add key="ValidateTlsCertificates" value="false"/>
		<add key="Topic_OpenPhoneNumber" value="/mqttPhone/{0}/openPhoneNumber"/>
		<add key="Topic_ObtainTOTP" value="/mqttPhone/{0}/obtainTOTP"/>
		<add key="Topic_ReturnTOTP" value="/mqttPhone/{0}/returnTOTP"/>
	</appSettings>
</configuration>